:root {
  --background-color: #fdfdfd;
  --text-color: #222222;
  --primary-color: #0088aa;
  --secondary-color: #666666;
}

[data-theme="dark"] {
  --background-color: #020202;
  --text-color: #dddddd;
  --secondary-color: #aaaaaa;
}
