<!DOCTYPE html>
<html lang="en" data-theme="light">
  {% include head.html %}
<body class="{{ page.layout }}">
  {% include header.html %}

  <aside class="bio">
    <img src="{{ site.logo }}" alt="Portrait of Steven" class="profile-pic" />
    <h1 style="font-size: large;">{{ site.author }}</h1>
    <p>{{ site.description }}</p>
    <ul>
      <li><i class="fas fa-envelope"></i> <a href="mailto:{{ site.email }}">Email</a></li>
      <li><i class="fa-brands fa-github"></i> <a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
      <li><i class="fa-brands fa-orcid"></i> <a href="https://orcid.org/{{ site.orcid }}">ORCID</a></li>
      <li><i class="fa-brands fa-linkedin"></i> <a href="https://linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a></li>
    </ul>
  </aside>

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>